{% extends 'users/layout.html' %}
{% load tz %}
{% block body %}
    <h2>Profile</h2>
    <div class="flex-ai-c">
        <img src="{{ profile.image.url }}" alt="" class='round-avatar'>
        <div class="ml-2">
            <h5>Username : {{profile.user.username}}</h5>
            <h5>Email    : {{profile.user.email}}</h5>
        </div>
    </div>
    
    <span>Following {{profile.following.count}}</span>
    <span class="ml-2">Followers <span id='followers'>{{profile.followers.count}}</span></span>
    {% if user.is_authenticated and user != profile.user %}
    <button class="btn btn-outline-primary" id='toggle-follow' data-username='{{profile.user.username}}'>
        {% if user.profile in profile.followers.all %}
            Unfollow
        {% else %}
            Follow
        {% endif %}
    </button>
    {% endif %}
    <h2>Posts of {{view.kwargs.username}}</h2>
    {% if posts %}
        {% for post in posts %}
        <div class="post" data-id='{{post.id}}'>
            <div class="flex-jc-sp">
                <a href="{% url 'user-posts' post.author.username %}">{{ post.author.username }}</a> 
                <span class="text-muted">{{ post.date_posted|localtime|date:'M d, Y H:i'}}</span> 
            </div>
            
            <a class="text-muted" href="{% url 'post-detail' post.id %}">
                <h4>
                    {{ post.title }}
                </h4>
            </a>
            <p>{{ post.content }} </p>
            <button class="btn btn-outline-secondary" id='toggle-like'>
                {% if user in post.likes.all %}
                    Liked
                {% else %}
                    Like
                {% endif %}
            </button>
            <span class="mr-2" id="number-likes">{{post.likes.count}}</span>
            <a href="{% url 'post-detail' post.id %}">Comment</a>
            <span id='number-comments'>{{post.comments.count}}</span>
        </div>
        <hr>
        {% endfor %}
    {% endif %}
{% endblock body %}