{% extends 'users/layout.html' %}
{% load tz %}
{% block body %}
    <h2>Profile</h2>
    <img src="{{ profile.image.url }}" alt="" class='round-avatar'>
    <h5>Username : {{profile.user.username}}</h5>
    <h5>Email    : {{profile.user.email}}</h5>
    <h5>Following {{profile.following.count}}</h5>
    <h5>Followers <span id='followers'>{{profile.followers.count}}</span></h5>
    {% if user.is_authenticated and user != profile.user %}
    <button id='toggle-follow' data-username='{{profile.user.username}}'>
        {% if user.profile in profile.followers.all %}
            Unfollow
        {% else %}
            Follow
        {% endif %}
    </button>
    {% endif %}
    <h2>Posts of {{view.kwargs.username}}</h2>
    {% if posts %}
        {% for post in posts %}
        <div class="post" data-id='{{post.id}}'>
            {{ post.author.username }} <br>
            {{ post.date_posted|localtime|date:'M d, Y H:i'}} <br>
            <a href="{% url 'post-detail' post.id %}">{{ post.title }}</a> <br>
            {{ post.content }} <br>
            <button id='toggle-like'>
                {% if user in post.likes.all %}
                    Liked
                {% else %}
                    Like
                {% endif %}
            </button>
            <span id="number-likes">{{post.likes.count}}</span>
            <a href="{% url 'post-detail' post.id %}">Comment</a>
            <span id='number-comments'>{{post.comments.count}}</span>
        </div>
        <hr>
        {% endfor %}
    {% endif %}
{% endblock body %}